# Visual Studio
.vscode/
.vs/
*.suo
*.user
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.dbmdl
*.pch
*.idb
*.ipch
*.log
*.tlog/
*.diff/
*.bak
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]inaries/
[Ll]og/
[Ll]ogs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

build/

.obj
.o